<nav class="cabecera p-2 ">
  <div class="row ">
    <div class="col-2 col-lg-3 d-flex justify-content-center">
      <a href="index"><img src="../imagenes/logo.png" alt="" style="max-height: 40px;"></a>
    </div>
    <div class="col-4  col-lg-5 justify-content-center">
      <form class="d-flex" action="/links/search" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button type="sumbit" class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
    <div class="col-6 col-lg-4 d-flex pt-2 justify-content-evenly">
      <a href="#" class="text-light text-bold">Contactanos</a>
      <a href="#" class="text-light">¿quienes somos?</a>
      <a href="/links/signup" class="text-light">log-out</a>
    </div>
  </div>
</nav>
<main class="container text-center">
  <div class="row border shadow-sm d-flex justify-content-center bg-white">
    <div class="restaurant p-2 col-4 ">
      <a href="/links/place/restaurants">
        <img src="../imagenes/cutlery.png" alt="" class="img-fluid " style="max-width: 150px;">
      </a>
      <h5>Restaurantes</h5>
    </div>
    <div class="market p-2 col-4 border border-top-0 border-bottom-0">
      <a href="/links/place/markets">
        <img src="../imagenes/food.png" alt="" class="img-fluid" style="max-width: 150px;">
      </a>
      <h5>Mercados</h5>
    </div>
    <div class="pharmacy p-2 col-4 ">
      <a href="/links/place/pharmacies">
        <img src="../imagenes/pharmacy (3).png" alt="" class="img-fluid" style="max-width: 150px;">
      </a>
      <h5>Farmacias</h5>
    </div>
  </div>
  <div class="d-flex divider">
    <hr class="line">
    <hr class="line">
  </div>
  <div class="row bg">
    <div class="col-12 col-lg-7 bg-light bg">
      <div class="row">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col-3">
              <div class="pt-3">
                <img src="../imagenes/{{restaurant.url_image}}" class="img-fluid rounded"  style="max-width: 130px;" >
              </div>
            </div>
            <div class="col-9">
              <div class="card-body ">
                <div class="addcard d-flex card-title">
                  <h4 class="">{{restaurant.name}}</h4>
                  <small class="text-muted ms-auto"> horario  {{restaurant.open_time}}-{{restaurant.end_time}}</small>
                </div>
                <div class="d-flex justify-content-start">
                  <small class="text-muted ">{{restaurant.phone}}</small>
                </div>
                <div class="d-flex justify-content-end">
                  <a href="/links/placeproduct/{{restaurant.name}}/restaurants" class="btn btn-success ms-auto">productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col-3">
              <div class="pt-3">
                <img src="../imagenes/{{market.url_image}}" class="img-fluid rounded"  style="max-width: 130px;" >
              </div>
            </div>
            <div class="col-9">
              <div class="card-body ">
                <div class="addcard d-flex card-title">
                  <h4 class="">{{market.name}}</h4>
                  <small class="text-muted ms-auto"> horario  {{market.open_time}}-{{market.end_time}}</small>
                </div>
                <div class="d-flex justify-content-start">
                  <small class="text-muted ">{{market.phone}}</small>
                </div>
                <div class="d-flex justify-content-end">
                  <a href="/links/products/{{market.name}}/markets" class="btn btn-success ms-auto">productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card shadow-sm">
          <div class="row">
            <div class="col-3">
              <div class="pt-3">
                <img src="../imagenes/{{pharmacie.url_image}}" class="img-fluid rounded"  style="max-width: 130px;" >
              </div>
            </div>
            <div class="col-9">
              <div class="card-body ">
                <div class="addcard d-flex card-title">
                  <h4 class="">{{pharmacie.name}}</h4>
                  <small class="text-muted ms-auto"> horario  {{pharmacie.open_time}}-{{pharmacie.end_time}}</small>
                </div>
                <div class="d-flex justify-content-start">
                  <small class="text-muted ">{{pharmacie.phone}}</small>
                </div>
                <div class="d-flex justify-content-end">
                  <a href="/links/{{pharmacie.name}}/pharmacies" class="btn btn-success ms-auto">productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="shopping_car col-12 col-lg-5 border shadow bg ">
      {{#each cart}}
      <div class="row">
        <div class="p-4">
          <img class = "rounded-circle" src="../imagenes/{{url_image}}" style="max-width: 50px;">
          <div class="d-flex justify-content-start">
            <h5>{{name}}</h5>
          </div>
          <div class="d-flex ">
            <small class="text-muted ">{{description}}</small>
            <p class="ms-auto">Cantidad : {{cant}}</p>
          </div>
          <div class="d-flex ">
            <a>${{price}}</a>
            <a class="btn btn-outline-danger ms-auto"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        <hr>
      </div>
      {{/each}}
      <div class="d-flex justify-content-end mb-3 {{hide}}">
        <button class="btn btn-danger m-2">borrar todo</button>
        <button class="btn btn-success m-2">comprar</button>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</main>